.container
  .col-md-4
    %h2 Sign up
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, required: true
        = f.input :email, required: true, autofocus: true
        = f.hidden_field :password, value: '12345678'
        = f.hidden_field :password_confirmation, value: '12345678'
      .form-actions
        = f.button :submit, "Sign up"
