

%footer#footer.clearfix
  / .footer start
  / ================
  .footer
    .container
      .footer-inner
        .row
          .col-xs-12.col-md-8
  
          .col-xs-12.col-md-4
            .footer-content
              %h2.title 
                = t ('.contact_us')
              .separator-2
              %p 
                = t ('.contact_us_description')
              %ul.social-links.circle.animated-effect-1
                %li.facebook
                  %a{:href => "http://www.facebook.com", :target => "_blank"}
                    %i.fa.fa-facebook
                %li.twitter
                  %a{:href => "http://www.twitter.com", :target => "_blank"}
                    %i.fa.fa-twitter
                %li.googleplus
                  %a{:href => "http://plus.google.com", :target => "_blank"}
                    %i.fa.fa-google-plus
                %li.linkedin
                  %a{:href => "http://www.linkedin.com", :target => "_blank"}
                    %i.fa.fa-linkedin
                %li.xing
                  %a{:href => "http://www.xing.com", :target => "_blank"}
                    %i.fa.fa-xing
              .separator-2
              %ul.list-icons
                %li
                  %i.fa.fa-map-marker.pr-10.text-default
                    = t '.starfish_address'
                %li
                  %i.fa.fa-phone.pr-10.text-default
                    = t '.starfish_mobile'
                %li
                  %i.fa.fa-envelope-o.pr-10
                    = t '.starfish_email'
  / .footer end
  / .subfooter start
  / ================
  
  .subfooter
    .container
      .subfooter-inner
        .row
          .col-md-12
            %p.text-center
              Copyright © 
              = DateTime.now.year  
              = t 'views.starfish_title'
              by
              = succeed "." do
                %a{:href => "http://newwaves.design", :target => "_blank"} New Waves Design. 
              All Rights Reserved


  / .subfooter end
