:sass
  .margin-left
    margin: 0 0 0 20px


#courses.linked
%section.section.light-gray-bg.clearfix{dir: @dir}
  .container
    .row
      .col-md-6
        %p
          %strong 
            = t ".courses_title"
        %p 
          = t ".courses_description_html"
      .col-xs-6.col-md-4.col-md-push-1
        %h3
          %span.text-default 
            = t ".upcoming_courses"
        .separator-2
        - if @courses.any?
          - @courses.reverse.each do |course|
            .small
              %i.fa.fa-calendar.pr-10
              = t ".start"
              = ":"
              = course.date_start.strftime("%A, %d %b %Y")
              = succeed course.time_start.strftime("%l %M %p") do
                %i.fa.fa-clock-o.pl-10.pr-10
              %br
              %i.fa.fa-calendar.pr-10
              = t ".finish"
              = ":"
              = course.date_finish.strftime("%A, %d %b %Y") 
            %h5
              %i.fa.fa-map-marker.pr-10
              = course.location 
            = course.description
            %hr
          %a.btn.btn-gray-transparent.btn-sm.btn-animated.scrollspy.margin-clear.smooth-scroll{:href => "#subscribe"}
            = t '.apply_now'
            %i.fa.fa-arrow-right.pl-20
          %br
