:sass

  .linked
      display: block
      position: relative
      top: -80px
      visibility: hidden



#banner
.banner{:style => "background-image: linear-gradient(210deg, rgba(0,101,168,0.1) 20%, rgba(0,36,61,0.5) 50%), url('#{cl_image_path("ST-UEA/starfish1.jpg", :client_hints=>true, :transformation=>[{:x=>0, :y=>0, :width=>2000, :height=>1000, :dpr=>"auto", :crop=>"fill"}])}');"}
  .banner-content
    %h1.fadeInRightBig.animated 
      = t '.home_title'
    %p.normal.fadeInLeftBig.animated
      = t '.home_subtitle_1'
      %br
      = t '.home_subtitle_2'
    %p
      %a#btn-black.btn.btn-lg.btn-default.btn-animated.scrollspy.smooth-scroll{:href => "#subscribe"}
        = t '.subscribe'
        %i.fa.fa-arrow-right.pl-20
  .col-md-12.text-center.banner-arrow
    %a.btn.btn-lg.moving.smooth-scroll{:href => "#what"}
      %i.icon-down-open-big
      %i.icon-down-open-big
      %i.icon-down-open-big


