:sass

  .story-margin
    margin: 0 0 20px 0 !important

#media.linked
%section.section.clearfix
  .container
    .row
      .col-md-8
        %h3
          = t (".latest")
          %span.text-default 
            = t (".news")
        .separator-2
        .block
          - @articles.each do |article|
            .media.margin-clear
              .media-left
                = cl_image_tag article.photo.presence || "at/apple.jpg",                               
                  client_hints: true,                                                                
                  transformation: [{dpr:"auto"}], 
                  class: "media-object"                           
              .media-body
                %h5.media-heading
                  = link_to article.title, article_path(article)
                %p.small
                  %i.fa.fa-calendar.pr-10>
                  = article.created_at.strftime("%B %d %Y")
                %p.margin-clear.small 
                  = article.description.first(200).html_safe
                  = "..."
                = link_to (t'.read_more'), article_path(article)
              %hr
          = link_to t('.more_news'), articles_path, class: "btn btn-dark"
      .col-md-4
        %h3
          = t (".top")
          %span.text-default 
            = t (".stories")
        .separator-2
        .owl-carousel.content-slider-with-large-controls-autoplay.dark-controls.light-gray-bg.buttons-hide
          - @stories.each do |story|
            .image-box.style-2
              .overlay-container.overlay-visible
                = cl_image_tag story.photo.presence || "at/apple.jpg",                               
                  client_hints: true,                                                                
                  transformation: [{dpr:"auto"}], 
                  class: "media-object"
                = link_to story_path(story), class: "overlay-link" do
                  %i.fa.fa-link
              .body.padding-horizontal-clear
                %h5.media-heading.story-margin
                  = story.title.upcase
                %p.margin-clear.small.story-margin
                  = story.description.first(300).html_safe
                  = "..."
                = link_to (t'.read_more'), story_path(story), class:"link-dark"
                %i.pl-5.fa.fa-angle-double-right
        
        = link_to t('.more_stories'), stories_path, class: "btn btn-dark"
      

/ section
/ ================
%section.pv-30.light-gray-bg.padding-bottom-clear
  .space-bottom
    .owl-carousel.content-slider
      .container
        .row
          .col-md-8.col-md-offset-2
            .testimonial.text-center
              .testimonial-image
                = cl_image_tag "rakan", class:"img-circle", :title => "Rakan", :client_hints=>true, 
                :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
                {:width=>200, :crop=>"scale"}]
              %h3 
                = t '.testimonial1_short_recomendation'
              .separator
              .testimonial-body
                %blockquote
                  %p 
                    = t '.testimonial1_long_recomendation'
                .testimonial-info-1 
                  = t '.testimonial1_name'
                .testimonial-info-2 
                  = t '.testimonial1_title'
      .container
        .row
          .col-md-8.col-md-offset-2
            .testimonial.text-center
              .testimonial-image
                = cl_image_tag "rakan", class:"img-circle", :title => "Rakan", :client_hints=>true, 
                :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
                {:width=>200, :crop=>"scale"}]
              %h3 
                = t '.testimonial2_short_recomendation'
              .separator
              .testimonial-body
                %blockquote
                  %p 
                    = t '.testimonial2_long_recomendation'
                .testimonial-info-1 
                  = t '.testimonial2_name'
                .testimonial-info-2 
                  = t '.testimonial2_title'
      .container
        .row
          .col-md-8.col-md-offset-2
            .testimonial.text-center
              .testimonial-image
                = cl_image_tag "rakan", class:"img-circle", :title => "Rakan", :client_hints=>true, 
                :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
                {:width=>200, :crop=>"scale"}]
              %h3 
                = t '.testimonial3_short_recomendation'
              .separator
              .testimonial-body
                %blockquote
                  %p 
                    = t '.testimonial3_long_recomendation'
                .testimonial-info-1 
                  = t '.testimonial3_name'
                .testimonial-info-2 
                  = t '.testimonial3_title'
/ section end
/ section end