#media.linked
%section.section.clearfix
  .container
    .row
      .col-md-8
        %h3
          = t (".latest")
          %span.text-default 
            = t (".news")
        .separator-2
        .block
          .media.margin-clear
            .media-left
              .overlay-container
                %img.media-object{:alt => "blog-thumb", :src => "images/medical-blog-thumb-1.jpg"}/
                %a.overlay-link.small{:href => "blog-post.html"}
                  %i.fa.fa-link
            .media-body
              %h5.media-heading
                %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet
              %p.small
                %i.fa.fa-calendar.pr-10>
                Mar 23, 2015
              %p.margin-clear.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.
              %a{:href => "#"} Read More
            %hr/
          .media.margin-clear
            .media-left
              .overlay-container
                %img.media-object{:alt => "blog-thumb", :src => "images/medical-blog-thumb-2.jpg"}/
                %a.overlay-link.small{:href => "blog-post.html"}
                  %i.fa.fa-link
            .media-body
              %h5.media-heading
                %a{:href => "blog-post.html"} Perspiciatis laborum necess
              %p.small
                %i.fa.fa-calendar.pr-10>
                Mar 22, 2015
              %p.margin-clear.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.
              %a{:href => "#"} Read More
            %hr/
          .media.margin-clear
            .media-left
              .overlay-container
                %img.media-object{:alt => "blog-thumb", :src => "images/medical-blog-thumb-3.jpg"}/
                %a.overlay-link.small{:href => "blog-post.html"}
                  %i.fa.fa-link
            .media-body
              %h5.media-heading
                %a{:href => "blog-post.html"} Cum eligendi nisi rerum porro
              %p.small
                %i.fa.fa-calendar.pr-10>
                Mar 21, 2015
              %p.margin-clear.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.
              %a{:href => "#"} Read More
            = link_to t('.more_news'), articles_path, class: "btn btn-dark"
      .col-md-4
        %h3
          = t (".top")
          %span.text-default 
            = t (".stories")
        .separator-2
        .owl-carousel.content-slider-with-large-controls-autoplay.dark-controls.light-gray-bg.buttons-hide
          .image-box.style-2
            .overlay-container.overlay-visible
              %img{:alt => "", :src => "images/education-1.jpg"}/
              %a.overlay-link{:href => "#"}
                %i.fa.fa-link
              .overlay-bottom
                .text
                  %p.lead.margin-clear.text-left.mobile-visible Graduation
            .body.padding-horizontal-clear
              %p Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.
              %a.link-dark{:href => "page-services.html"}
                Read More
                %i.pl-5.fa.fa-angle-double-right
          .image-box.style-2
            .overlay-container.overlay-visible
              %img{:alt => "", :src => "images/education-2.jpg"}/
              %a.overlay-link{:href => "#"}
                %i.fa.fa-link
              .overlay-bottom
                .text
                  %p.lead.margin-clear.text-left.mobile-visible A success story
            .body.padding-horizontal-clear
              %p Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.
              %a.link-dark{:href => "page-services.html"}
                Read More
                %i.pl-5.fa.fa-angle-double-right
          .image-box.style-2
            .overlay-container.overlay-visible
              %img{:alt => "", :src => "images/education-3.jpg"}/
              %a.overlay-link{:href => "#"}
                %i.fa.fa-link
              .overlay-bottom
                .text
                  %p.lead.margin-clear.text-left.mobile-visible Lorem Ipsum sit amt
            .body.padding-horizontal-clear
              %p Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.
              %a.link-dark{:href => "page-services.html"}
                Read More
                %i.pl-5.fa.fa-angle-double-right
        = link_to t('.more_stories'), stories_path, class: "btn btn-dark"
      

/ section
/ ================
%section.pv-30.light-gray-bg.padding-bottom-clear
  .space-bottom
    .owl-carousel.content-slider
      .container
        .row
          .col-md-8.col-md-offset-2
            .testimonial.text-center
              .testimonial-image
                = cl_image_tag "rakan", class:"img-circle", :title => "Rakan", :client_hints=>true, 
                :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
                {:width=>200, :crop=>"scale"}]
              %h3 
                = t '.testimonial1_short_recomendation'
              .separator
              .testimonial-body
                %blockquote
                  %p 
                    = t '.testimonial1_long_recomendation'
                .testimonial-info-1 
                  = t '.testimonial1_name'
                .testimonial-info-2 
                  = t '.testimonial1_title'
      .container
        .row
          .col-md-8.col-md-offset-2
            .testimonial.text-center
              .testimonial-image
                = cl_image_tag "rakan", class:"img-circle", :title => "Rakan", :client_hints=>true, 
                :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
                {:width=>200, :crop=>"scale"}]
              %h3 
                = t '.testimonial2_short_recomendation'
              .separator
              .testimonial-body
                %blockquote
                  %p 
                    = t '.testimonial2_long_recomendation'
                .testimonial-info-1 
                  = t '.testimonial2_name'
                .testimonial-info-2 
                  = t '.testimonial2_title'
      .container
        .row
          .col-md-8.col-md-offset-2
            .testimonial.text-center
              .testimonial-image
                = cl_image_tag "rakan", class:"img-circle", :title => "Rakan", :client_hints=>true, 
                :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
                {:width=>200, :crop=>"scale"}]
              %h3 
                = t '.testimonial3_short_recomendation'
              .separator
              .testimonial-body
                %blockquote
                  %p 
                    = t '.testimonial3_long_recomendation'
                .testimonial-info-1 
                  = t '.testimonial3_name'
                .testimonial-info-2 
                  = t '.testimonial3_title'
/ section end
/ section end