#summary.linked

%section.light-gray-bg.pv-30.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          %strong 
            = t '.features_moto'
        .separator
        %p.large.text-center 
          = t '.features_description'
      -# .col-md-6.col-md-offset-3
      -#   .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
      -#     %span.icon.default-bg.circle
      -#       %i.fa.fa-diamond
      -#     %h3 
      -#       = t '.feature1_title'
      -#     .separator.clearfix
      -#     %p 
      -#       = t '.feature1_description'
      
  .container
    .row
      / main start
      / ================
      .main.col-md-12
        .separator-2
        .row
          .col-md-6.top-margin{dir: @dir}
            = t ".summary_description_html"
          .col-md-6
            .owl-carousel.content-slider-with-controls
              .overlay-container.overlay-visible
                = cl_image_tag("ST-UEA/starfishp1.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :height=>1250, :width=>2000, :y=>100, :x=>150, :crop=>"fill"}])
                .overlay-bottom.hidden-xs
                %a.popup-img.overlay-link{:href => "https://res.cloudinary.com/georgestam/image/upload/v1498159404/ST-UEA/starfishp1.jpg", :title => I18n.t("views.pages.summary.image_title1")}
                  %i.icon-plus-1
              .overlay-container.overlay-visible
                = cl_image_tag("ST-UEA/starfishp2.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :height=>1250, :width=>2000, :y=>100, :x=>150, :crop=>"fill"}])
                .overlay-bottom.hidden-xs
                %a.popup-img.overlay-link{:href => "https://res.cloudinary.com/georgestam/image/upload/v1498159404/ST-UEA/starfishp2.jpg", :title => I18n.t("views.pages.summary.image_title2")}
                  %i.icon-plus-1
              .overlay-container.overlay-visible
                = cl_image_tag("ST-UEA/starfish3.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :height=>1250, :width=>2000, :y=>100, :x=>150, :crop=>"fill"}])
                .overlay-bottom.hidden-xs
                %a.popup-img.overlay-link{:href => "https://res.cloudinary.com/georgestam/image/upload/v1498159357/ST-UEA/starfish3.jpg", title: I18n.t("views.pages.summary.image_title3")}
                  %i.icon-plus-1
      / main end

