#team
/ section
/ ================
%section#about.main-container
  .container
    / <h3 class="title">Our <strong>Team</strong></h3>
    .separator-2
    .row.grid-space-10
      .col-sm-4.col-sm-push-2
        .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
          .overlay-container.overlay-visible
            = image_tag "team/lewagon-jordi.jpg", class:"team_pic"
            .overlay-bottom
              %ul.social-links.circle.dark.margin-clear
          .body
            %h3.margin-clear Jordi Fernandez
            %small Web Developer and Mechanical Engineer (MEng)
            .separator.mt-10
      .col-sm-4.col-sm-push-2
        .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
          .overlay-container.overlay-visible
            = image_tag "team/marcos.jpg", class:"team_pic"
            .overlay-bottom
              %ul.social-links.circle.dark.margin-clear
          .body
            %h3.margin-clear Marcos Garcia de la Cruz
            %small Aerospace Engineer (MEng, PhD)
            .separator.mt-10
    .separator-2
    .row.grid-space-10
      .col-sm-4
        .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
          .overlay-container.overlay-visible
            = image_tag "team/rowan.jpg", class:"team_pic"
            .overlay-bottom
              %ul.social-links.circle.dark.margin-clear
          .body
            %h3.margin-clear Rowan Brackston
            %small Aerospace Engineer (MEng, PhD-candidate)
            .separator.mt-10
      .col-sm-4
        .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
          .overlay-container.overlay-visible
            = image_tag "team/dimitri.jpg", class:"team_pic"
            .overlay-bottom
              %ul.social-links.circle.dark.margin-clear
          .body
            %h3.margin-clear Dimitri Van Immerseel
            %small App Developer
            .separator.mt-10
      .col-sm-4
        .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
          .overlay-container.overlay-visible
            = image_tag "team/james.jpg", class:"team_pic"
            .overlay-bottom
              %ul.social-links.circle.dark.margin-clear
          .body
            %h3.margin-clear James Bird
            %small Aerospace Engineer (MEng, PhD-candidate)
            .separator.mt-10
  %br/
/ section end
