#who_we_are.linked
%section.pv-30
  .container
    .row
      .col-md-6
        %br/
        %div{:role => "tabpanel"}
          / Nav tabs
          %ul.nav.nav-tabs.style-1{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#first", :role => "tab"}
                = t '.video' 
            %li{:role => "presentation"}
              %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#second", :role => "tab"} 
                = t '.free_support'
            %li{:role => "presentation"}
              %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#third", :role => "tab"} 
                = t '.the_starfish_story'
            %li{:role => "presentation"}
              %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#fourth", :role => "tab"} 
                = t '.what_is_stuttering'
          / Tab panes
          .tab-content
            #first.tab-pane.fade.in.active{:role => "tabpanel"}
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{:src => "//player.vimeo.com/video/29198414?byline=0&portrait=0"}
                %p
                  %a{:href => "http://vimeo.com/29198414"} Introducing Vimeo Music Store
                  from
                  %a{:href => "http://vimeo.com/staff"} Vimeo Staff
                  on
                  = succeed "." do
                    %a{:href => "https://vimeo.com"} Vimeo
            #second.tab-pane.fade{:role => "tabpanel"}
              = t '.free_support_description_html'
            #third.tab-pane.fade{:role => "tabpanel"}
              = t '.the_starfish_story_description_html'
            #fourth.tab-pane.fade{:role => "tabpanel"}
              = t '.what_is_stuttering_description_html'
      .col-md-6
        %p
          %p
            %strong 
              = t ".who_we_are_title"
          %p 
            = t ".who_we_are_description_html"
  %br/      
/ section end

