#who_we_are.linked
%section.pv-30
  .container
    .row
      .col-md-8.col-md-offset-2
        %br/
        %div{:role => "tabpanel"}
          / Nav tabs
          %ul.nav.nav-tabs.style-1{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#first", :role => "tab"}
                = t '.video' 
            %li{:role => "presentation"}
              %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#second", :role => "tab"} 
                = t '.free_support'
            %li{:role => "presentation"}
              %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#third", :role => "tab"} 
                = t '.the_starfish_story'
            %li{:role => "presentation"}
              %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#fourth", :role => "tab"} 
                = t '.what_is_stuttering'
          / Tab panes
          .tab-content{dir: @dir}
            #first.tab-pane.fade.in.active{:role => "tabpanel"}
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "https://www.youtube.com/embed/ELVs1hHnfV4?rel=0&showinfo=0", :width => "853"}
            #second.tab-pane.fade{:role => "tabpanel"}
              = t '.free_support_description_html'
            #third.tab-pane.fade{:role => "tabpanel"}
              = t '.the_starfish_story_description_html'
            #fourth.tab-pane.fade{:role => "tabpanel"}
              = t '.what_is_stuttering_description_html'
      -# .col-md-6{dir: @dir}
      -#   %p
      -#     %strong 
      -#       = t ".who_we_are_title"
      -#   %p 
      -#     = t ".who_we_are_description_html"
  %br/      
/ section end

