/ scrollToTop
/ ================
- content_for :title, I18n.t('views.pages.home.starfish_title')

.scrollToTop.circle
  %i.icon-up-open-big
= render 'home'
= render 'what'
= render 'features'
= render 'demo'
= render 'team'
= render 'timeline'
